<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.ufacekit.org/qt/idl/dsl/QIdl" 
       class = "org.ufacekit.qt.idl.dsl.qIdl.QIdlPackage"
       genModel = "org/ufacekit/qt/idl/dsl/QIdl.genmodel" /> 
	
  </extension>





</plugin>
